# 项目排除路径
/out/
/.idea/
/YolBi_Inject.iml
/YolBi_Loader/YolBi_Loader.iml
/injector/agent.dll
/injector/injection.dll
/injector/injection.dll.dll
/injector/main.o
/injector/agent.o
/injector/dllmain.o
/toollib/
/injector/YolBi_Lite.dylib
/InjectUI/InjectUI.iml